<?xml version="1.0"?>
<configuration>

  <!-- Application Settings -->
  <appSettings>
    <add key="CollegeName" value="ABC College"/>
    <add key="Course" value="BCA"/>
  </appSettings>

  <!-- Connection String -->
  <connectionStrings>
    <add name="MyConnection"
         connectionString="Data Source=.;Initial Catalog=StudentDB;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!-- ASP.NET Configuration -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <sessionState mode="InProc" timeout="20"/>
    <authentication mode="None"/>
    <customErrors mode="Off"/>
  </system.web>

</configuration>
